@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

input {
  caret-color: red;
}

body {
  margin: 0;
  width: 100%; 
  height: 100vh; /* Change height to 100vh */

  background: rgba(236, 240, 243, 0.9);

  display: flex;
  align-items: center; 
  text-align: center;
  justify-content: center;
  place-items: center;

  /* overflow: hidden; */

  font-family: 'Poppins', sans-serif;

  background-image: url('hello.jpg');

  background-size: cover;  
  background-repeat: no-repeat;
  background-position:  center; /* Added */
}
  
#fullNameInput::placeholder{
    color: transparent;
}

#whatsappInput::placeholder{
  color: transparent;
}
.container {
  position: relative;
  width: 350px;
  max-width: 90%; /* Added max-width for responsiveness */
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  animation: slide-up 2.5s forwards;
  transition: transform 0.5s ease-in-out;
}
@keyframes slide-up {
  from {
    bottom: -15%;
    opacity: 0;
  }
  to {
    bottom: 10%;
    opacity: 1;
  }
}
.input-wrapper {
    position: relative;
    margin-bottom: 1em; /* Adjust as needed */
    margin-top: 1.8em;
  }
  
  .form-control {
    display: block;
    line-height: 2em;
    margin: 0;
    padding-left: 10px;
    width: 100%;
    font-size: medium;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    font-weight: 500;
  }
  
  .control-label {
    position: absolute;
    top: 0.9em; /* Adjust to position the label */
    left: 10px;
    pointer-events: none;
    transition: 0.2s ease-out;
  }
  
  .form-control:focus + .control-label,
  .form-control:not(:placeholder-shown) + .control-label {
    top: -1.2em;
    font-size: 14px;
    color: #f1f4c6; /* Color for the floating label when active */
  }
  
  /* Adjust the color and styles as needed for the floating label */
  
  /* Optional: Add some styles for the border when focused */
  .form-control:focus {
    border-color: #b84d69; /* Color for the input border when focused */
  }
  

/* .brand-logo {
  height: 100px;
  width: 100px;
  background: url("https://img.icons8.com/color/100/000000/twitter--v2.png");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
} */
.option1{
  display: inline;
  border: #1DA1F2;
}
.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #e84a5f;
  letter-spacing: 1px;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}


input {
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  
}


a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}
/* Style for the radio button options */

.option-label {
  display: flex;
  align-items: center;
  transform:translate(10px,2px);
  margin-bottom: 10px;
  margin-left: -80px;
  font-size: 18px;
  
  
}
.option-label  span{
  position: relative;
  left: -20%;
  color: #ccc;
}

.option-label input[type="radio"] {
  margin-right: 10px;
  vertical-align: middle;
  transform: scale(0.5);
}

.option-label:hover {
  cursor: pointer;
}


.class-radio{
  display: flex;
  
}
#cash{
  display: block;
  transform: scale(0.5);
  margin-left: -4.5rem;
}

#online-payment{
  display: block;
  transform: scale(0.5);
  margin-left: -4.6rem;
}

.radi0 label {
  display: flex;
  align-items: center;
  margin-left: -2rem;
  margin-right: -20rem; /* Adjust as needed for spacing */
}

.radi0 input {
  display: flex;

}

.radi0 span{
  color:azure;
  margin-left: -80px;
}
.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #ff135a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
  }


  .btn-content {
    display: flex;
    align-items: center;
    padding: 0.2px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
    
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  .page1-hidden {
    transform: translateX(-100%);
    opacity: 0;
  }
  
   
.page2{
  position: relative;
  width: 350px;
  max-width: 90%; 
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  bottom: 10%;
  display: none;
  }

  .circle {
    position: absolute;
    top: 10px; /* Adjust as needed for positioning */
    left: calc(50% - 75px); /* Adjust as needed for positioning */
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
   
  }
  
  .img-m{
    position: absolute;
    display: flex;
    height: 150px;
    width: 150px;
  }

  .names{
    display: flex;
    position: absolute;
    top: 35%;
    left: -5%;
  }

  .names ul li{
    list-style: none;
    font-size: large;
    color: aliceblue;
    padding: 10px;
    
   
  }
  .names ul li img {
    margin-top: 2px;
    display: inline;
  }
  .names ul li span{
    margin-left: 25px;
  }
.p1{
  top: 20px;
  display: flex;
  position: absolute;
}
.p2{
  top: 65px;
  
  position: absolute;
}
.p3{
  top: 120px;
  
  position: absolute;
}


.page3{
  position: relative;
  width: 350px;
  max-width: 90%; 
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  margin: auto;
  bottom: 10%;
  display: none;
}
.page2-hidden {
  transform: translateX(-100%);
  opacity: 0;
}
